<ion-content fullscreen class="camera-content">
  <div class="media-container">
    <video #video autoplay playsinline [style.display]="isWebcamActive ? 'block' : 'none'"></video>
    <canvas #canvas></canvas>
  </div>

  <div class="button-overlay">
    <ion-button shape="round" size="large" fill="solid" color="light" (click)="pickImageFromGallery()">
      <ion-icon name="folder-outline"></ion-icon>
    </ion-button>

    <ion-button shape="round" size="large" [color]="isWebcamActive ? 'danger' : 'primary'" (click)="toggleWebcam()">
      <ion-icon [name]="isWebcamActive ? 'stop-circle-outline' : 'videocam-outline'"></ion-icon>
    </ion-button>

    <ion-button shape="round" size="large" color="medium" *ngIf="isWebcamActive" (click)="toggleCamera()">
      <ion-icon name="camera-reverse-outline"></ion-icon>
    </ion-button>

    <ion-button shape="round" size="large" fill="solid" color="light" *ngIf="isWebcamActive" (click)="captureImage()">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
